################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/let-it-rain/x64
/Src/.vs/let-it-rain
.vs
