################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/let-it-rain/x64
/Src/.vs/let-it-rain
.vs

# Build Output Directories
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
Study/
x64/
x86/
ARM64/
Win32/
*.user
*.suo
*.resinclude
