//Microsoft Visual C++ generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_RAINCPPDXGI         ICON                    "let-it-rain.ico"

IDI_SMALL               ICON                    "small.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOGB DIALOGEX 0, 0, 285, 375
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "let it rain [v 2.0.2] - options"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "No of Rain Drops / Snow Flakes",IDC_STATIC,10,43,122,8
    CONTROL         "",IDC_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,36,59,204,24
    CTEXT           "Low",IDC_STATIC,15,60,18,8
    CTEXT           "High",IDC_STATIC,246,60,18,8
    LTEXT           "Wind Direction",IDC_STATIC,10,87,122,8
    CONTROL         "",IDC_SLIDER2,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,35,103,204,24
    CTEXT           "Left",IDC_STATIC,15,106,18,8
    CTEXT           "Right",IDC_STATIC,245,106,18,8
    
    LTEXT           "Lightning Frequency",IDC_STATIC,10,135,122,12
    CONTROL         "",IDC_SLIDER_LIGHTNING_FREQ,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,35,150,204,24
    CTEXT           "Rare",IDC_STATIC,15,153,18,8
    CTEXT           "Frequent",IDC_STATIC,245,153,25,8
    
    LTEXT           "Lightning Intensity",IDC_STATIC,10,185,122,12
    CONTROL         "",IDC_SLIDER_LIGHTNING_INTENSITY,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,35,200,204,24
    CTEXT           "Dim",IDC_STATIC,15,203,18,8
    CTEXT           "Bright",IDC_STATIC,245,203,22,8
    
    LTEXT           "Color of Rain Drops / Snow Flakes",IDC_STATIC,10,235,150,12
    PUSHBUTTON      "Select Color",IDC_BUTTON_SHOW_COLOR,35,250,59,14
    PUSHBUTTON      "Github Repo",IDC_BUTTON_GITHUB,17,280,82,25
    LTEXT           "Created by ryftools@outlook.com",IDC_STATIC,113,290,137,12
    CONTROL         "Rain",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON,94,15,30,10
    CONTROL         "Snow",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON,144,15,33,10
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DIALOGB, DIALOG
    BEGIN
        RIGHTMARGIN, 285
        BOTTOMMARGIN, 375
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "let-it-rain"
    IDC_RAINCPPDXGI         "RAINCPPDXGI"
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (United Kingdom) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_GITHUB_ICON         ICON                    "github.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "RYF TOOLS"
            VALUE "FileDescription", "Rain simulator for Windows desktop"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "let-it-rain.exe"
            VALUE "LegalCopyright", "Copyright (C) 2024"
            VALUE "OriginalFilename", "let-it-rain.exe"
            VALUE "ProductName", "let-it-rain"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // English (United Kingdom) resources
/////////////////////////////////////////////////////////////////////////////


#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED